<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="w3-dark-grey">

    <% include ./partials/header %>

    <div class="wrapper w3-container w3-padding-16">
        <div class="w3-row" style="height: 100%;">

            <div class="w3-container w3-quarter w3-border-right scrollable" style="height: 100%;">
                <h2>Buy/Sell</h2>

                <select id="currency-selector" class="w3-input">
                    <option value="BTCUSD">BTCUSD</option>
                    <option value="ETHUSD">ETHUSD</option>
                </select>

                <div id="buy-panel" class="w3-border-top w3-margin-top">
                    <p>Buy</p>
                    <input class="w3-input" type="number" placeholder="How many BTC to buy?">
                    <p class="label-total-money">Total cost: <span id="buy-cost">10</span>$</p>
                    <button class="w3-button w3-block w3-green">Buy</button>
                </div>

                <div id="sell-panel" class="w3-border-top w3-margin-top">
                    <p>Sell</p>
                    <input class="w3-input" type="number" placeholder="How many BTC to sell?">
                    <p class="label-total-money">Total profit: <span id="sell-profit">10</span>$</p>
                    <button class="w3-button w3-block w3-red">Sell</button>
                </div>

            </div>

            <div class="w3-threequarter" style="height: 100%;">
                <div class="w3-red w3-container" style="height: 60%;">
                    <h2>Chart</h2>
                </div>

                <div class="w3-row" style="height: 40%;">

                    <div class="w3-half" style="height: 100%;">
                        <div class="w3-container title-container">
                            <h4>Transactions</h4>
                        </div>
                        <div class="table-wrapper scrollable">
                            <table class="w3-table w3-hoverable w3-centered">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>USD</th>
                                    </tr>
                                </thead>
                                <tbody id="transaction_list">
                                    <tr>
                                        <td colspan=4>Nothing to show</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="w3-half" style="height: 100%;">
                        <div class="w3-container title-container">
                            <h4>PlannedActions</h4>
                        </div>
                        <div class="table-wrapper scrollable">
                            <table class="w3-table w3-hoverable w3-centered">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>USD value</th>
                                    </tr>
                                </thead>
                                <tbody id="plannedaction_list">
                                    <tr>
                                        <td colspan=4>Nothing to show</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <% include ./partials/footer %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>