<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="w3-dark-grey">

    <% include ./partials/header %>

    <div class="wrapper w3-container w3-padding-16">
        <div class="w3-row" style="height: 100%;">

            <div class="w3-green w3-container w3-quarter" style="height: 100%;">
                <h2>Buy/Sell</h2>
            </div>

            <div class="w3-grey w3-threequarter" style="height: 100%;">
                <div class="w3-red w3-container" style="height: 60%;">
                    <h2>Chart</h2>
                </div>

                <div class="w3-row" style="height: 40%;">
                    <div class="w3-indigo w3-container w3-half" style="height: 100%;">
                        <h2>Transactions</h2>
                    </div>
                    <div class="w3-green w3-container w3-half" style="height: 100%;">
                        <h2>PlannedActions</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <% include ./partials/footer %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>