<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
</head>

<body class="w3-dark-grey">

    <% include ./partials/header %>

    <div class="wrapper w3-container w3-padding-16">
        <div class="w3-row" style="height: 100%;">

            <div class="w3-container w3-quarter w3-border-right scrollable" style="height: 100%;">
                <h2>Buy/Sell</h2>

                <select id="currency-selector" class="w3-input">
                    <option value="BTCUSD">BTCUSD</option>
                    <option value="ETHUSD">ETHUSD</option>
                </select>

                <div id="buy-panel" class="w3-border-top w3-margin-top">
                    <p>Buy</p>
                    <input id="buy-amount" class="w3-input" type="number" placeholder="How many to buy?">
                    <p class="label-total-money">Total cost: <span id="buy-cost">0</span>$</p>
                    <button id='btn-buy' class="w3-button w3-block w3-green">Buy</button>
                </div>

                <div id="sell-panel" class="w3-border-top w3-margin-top">
                    <p>Sell</p>
                    <input id="sell-amount" class="w3-input" type="number" placeholder="How many to sell?">
                    <p class="label-total-money">Total profit: <span id="sell-profit">0</span>$</p>
                    <button id='btn-sell' class="w3-button w3-block w3-red">Sell</button>
                </div>

                <div id="add-money-panel" class="w3-border-top w3-margin-top">
                    <p>Add money</p>
                    <button id='btn-add-money' class="w3-button w3-block w3-teal">+ 1000 USD</button>
                </div>
            </div>

            <div class="w3-threequarter" style="height: 100%;">
                <div style="height: 60%; position: relative">
                    <!--<h2>Chart</h2>-->
                    <canvas id="canvas"></canvas>

                    <div class="elem-history-container">
                        <select id="elem-history-selector" class="w3-input w3-dark-grey elem-history-select">
                            <option value="100">100 points</option>
                            <option value="500">500 points</option>
                            <option value="1000">1000 points</option>
                            <option value="2000">2000 points</option>
                        </select>
                    </div>
                </div>

                <div class="w3-row w3-border-top" style="height: 40%;">

                    <div class="w3-half" style="height: 100%;">
                        <div class="w3-container title-container">
                            <h4>Transactions</h4>
                        </div>
                        <div class="table-wrapper scrollable">
                            <table class="w3-table w3-hoverable w3-centered">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>USD</th>
                                    </tr>
                                </thead>
                                <tbody id="transaction_list">
                                    <tr>
                                        <td colspan=4>Nothing to show</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="w3-half" style="height: 100%;">
                        <div class="title-container">
                            <div class="w3-container">
                                <h4>Planned Actions</h4>
                            </div>
                            <div id="btn-add-plannedaction" class="w3-button w3-gray btn-add-plannedaction">Add new</div>
                        </div>
                        <div class="table-wrapper scrollable">
                            <table class="w3-table w3-hoverable w3-centered">
                                <thead>
                                    <tr>
                                        <th>Action</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>USD value</th>
                                        <th>State</th>
                                    </tr>
                                </thead>
                                <tbody id="plannedaction_list">
                                    <tr>
                                        <td colspan=5>Nothing to show</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>


    <!-- Message box -->
    <div id="box-add-plannedaction" class="w3-dark-grey w3-card-4 box-modal">
        <div class="w3-container w3-teal">
            <h4>Add new planned action</h4>
        </div>

        <div class="w3-row-padding w3-margin-top">
            <div class="w3-half">
                <label>Action</label>
                <select id="pa-box-action" class="w3-input">
                    <option value="BUY">BUY</option>
                    <option value="SELL">SELL</option>
                </select>
            </div>

            <div class="w3-half">
                <label>Currency</label>
                <select id="pa-box-currency" class="w3-input">
                    <option value="BTC">BTC</option>
                    <option value="ETH">ETH</option>
                </select>
            </div>
        </div>

        <div class="w3-row-padding w3-margin-top">
            <div class="w3-half">
                <label>Amount</label>
                <input id="pa-box-amount" class="w3-input" type="number" placeholder="How many?">
            </div>
            <div class="w3-half">
                <label>USD value</label>
                <input id="pa-box-usd-value" class="w3-input" type="number" placeholder="At which price?">
            </div>
        </div>

        <div class="w3-container">
            <p class="label-total-money">Total USD: <span id="pa-box-total-usd">0</span>$</p>
        </div>

        <div class="w3-container" style="text-align: center; margin-top: auto">
            <button id='pa-box-confirm' style="width:45%" class="w3-button w3-green">Confirm</button>
            <button id='pa-box-cancel' style="width:45%" class="w3-button w3-grey">Cancel</button>
        </div>

    </div>

    <!-- FOOTER -->
    <% include ./partials/footer %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/chart.bundle.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/modal-boxes.js"></script>
    <script src="/js/index.js"></script>
</body>

</html>