<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="533024552572-ltbl4ks1kib5qod9cgihc2ppjhcdem2l.apps.googleusercontent.com">
</head>

<body class="w3-dark-grey">

    <% include ./partials/header %>

    <div class="wrapper w3-row w3-padding-16">
        <div class="w3-col" style="width:20%">&nbsp;</div>

        <div class="w3-col w3-card-2" style="width:60%">
            <div class="w3-container w3-indigo">
                <h1>Log out</h1>
            </div>
            <div class="w3-container w3-margin-bottom">
                <h4 id="logging_out_msg" class="w3-indigo">Logging out ..</h4>

                <h4 id="logged_out_msg" class="w3-green" style="display: none">You have been logged out</h4>

                <h4 id="error_msg" class="w3-red" style="display: none">Something went wrong. Please try again.</h4>
            </div>
        </div>

        <div class="w3-col" style="width:20%">&nbsp;</div>
    </div>

    <% include ./partials/footer %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/js/logout.js"></script>

    <script>
        completeLogout( <%= JSON.stringify(user) %> )
    </script>
</body>

</html>