<meta charset="UTF-8">
<title>SAFEx</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    html,
    body {
        margin: 0;
        height: 100%;
        min-width: 800px;
        font-family: "Segoe UI", Arial, sans-serif;
    }

    .header {
        height: 50px;
    }

    a:link {
        text-decoration: none;
    }

    .wrapper {
        margin-bottom: 50px;

        /* Firefox */
        height: -moz-calc(100% - 100px);
        /* WebKit */
        height: -webkit-calc(100% - 100px);
        /* Opera */
        height: -o-calc(100% - 100px);
        /* Standard */
        height: calc(100% - 100px);
    }

    .g-signin2 {
        width: 100%;
    }

    .g-signin2>div {
        margin: 0 auto;
    }

    .login-container {
        width: 50%;
        text-align: center;
    }

    .footer {
        margin-top: -50px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
    }

    .header-elem {
        height: 50px;
    }

    .user-name,
    .user-profile {
        display: inline;
        white-space: nowrap;
        font-size: 20px;
        font-weight: 400;
    }

    .helper {
        cursor: pointer;
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .user-icon {
        height: 30px;
        display: inline-block;
        vertical-align: middle;
    }

    .hover-user-info {
        text-align: center;
        width: 200px;
        height: 150px;
        position: absolute;
        top: 50px;
        right: 0px;
        display: none;
    }

    .label-total-money {
        text-align: right;
    }

    .center-text {
        text-align: center;
    }

    .return-link {
        border: 2px solid white;
        border-radius: 5px;
        padding: 5px;
    }

    .title-container {
        height: 20%;
        display: flex;
        align-items: center;
    }

    .scrollable {
        overflow-x: auto;
        overflow-y: auto;
    }

    .scrollable::-webkit-scrollbar {
        width: 0.5em;
        height: 0.5em;
    }

    .scrollable::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    .scrollable::-webkit-scrollbar-thumb {
        background-color: darkgrey;
        outline: 1px solid slategrey;
    }

    .scrollable::-webkit-scrollbar-corner {
        background-color: darkgrey;
    }

    .table-wrapper {
        height: 80%;
    }

    .btn-add-plannedaction {
        margin-left: auto;
    }

    .btn-add-plannedaction:hover {
        background-color: gray;
    }

    .elem-history-container {
        position: absolute;
        top: 0;
        right: 0;
    }

    .elem-history-select {
        padding-bottom: 6px;
        padding-top: 6px;
    }

    /* BOX MODAL */
    .box-modal {
        display: none;
        position: absolute;

        height: 320px;
        /* Firefox */
        top: -moz-calc(50% - 160px);
        /* WebKit */
        top: -webkit-calc(50% - 160px);
        /* Opera */
        top: -o-calc(50% - 160px);
        /* Standard */
        top: calc(50% - 160px);

        width: 600px;
        /* Firefox */
        left: -moz-calc(50% - 300px);
        /* WebKit */
        left: -webkit-calc(50% - 300px);
        /* Opera */
        left: -o-calc(50% - 300px);
        /* Standard */
        left: calc(50% - 300px);
    }
</style>