<meta charset="UTF-8">
<title>SAFEx</title>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<style>
    html,
    body {
        margin: 0;
        height: 100%;
        min-width:800px;
        font-family: "Segoe UI", Arial, sans-serif;
    }

    .header {
        height: 50px;
    }

    a:link {
        text-decoration: none;
    }

    .wrapper {
        margin-bottom: 50px;

        /* Firefox */
        height: -moz-calc(100% - 100px);
        /* WebKit */
        height: -webkit-calc(100% - 100px);
        /* Opera */
        height: -o-calc(100% - 100px);
        /* Standard */
        height: calc(100% - 100px);
    }

    .g-signin2 {
        width: 100%;
    }

    .g-signin2>div {
        margin: 0 auto;
    }

    .footer {
        margin-top: -50px;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 50px;
        text-align: center;
    }

    .header-elem {
        height: 50px;
    }

    .user-name,
    .user-profile {
        display: inline;
        white-space: nowrap;
        font-size: 20px;
        font-weight: 400;
    }

    .helper {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .user-icon {
        height: 30px;
        display: inline-block;
        vertical-align: middle;
    }

    .logout-container {
        width:50%;
        text-align: center;
    }

    .hover-logout {
        text-align: center;
        width: 100px;
        height: 25px;
        position: absolute;
        top: 50px;
        right: 0px;
        display: none;
    }

    .label-total-money {
        text-align: right;
    }

    .center-text {
        text-align: center;
    }

    .return-link {
        border: 2px solid white;
        border-radius: 5px;
        padding: 5px;
    }

    .title-container {
        height: 20%;
        display: flex;
        align-items: center;
    }

    .scrollable {
        overflow: hidden;
        overflow-y: scroll;
    }

    .scrollable::-webkit-scrollbar {
        display: none;
    }

    .table-wrapper {
        height: 80%;
    }
</style>