<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="eagleplatform">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>SAFExchange</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"><!-- load bootstrap -->
	<link rel="stylesheet" href="/css/EagleStyle.css">    

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script><!-- load angular -->
    <script src="/sha256.js"></script>
    <script src="/loginController.js"></script>

</head>

<body ng-controller="loginController">
    <div class="">

        <!-- HEADER -->
		<div class="container-fluid no-padding header">
			<div class="row no-margin">
				<div class="col-xs-12 vertical-center text-center">
					<h1><a class="logo-title"><img src="/images/logo.png"/>E-Agle TRT</a></h1>
				</div>
			</div>
		</div>
	
		<!-- PAGE -->
		<div class="mainContent">
			<div class="panel panel-default col-md-4 col-md-offset-4">
				<!-- FORM -->
				<form ng-submit="login()">
					<div class="panel-body">
						<img src="/images/logo.png" style="height:100pt; display:block; margin:auto;"/>
						<br/>
						<div class="alert alert-danger" ng-if="errorMsg != null">
                          <span>{{ errorMsg }}</span>
                        </div>
						<div class="input-group">
						  	<span class="input-group-addon" id="basic-addon1"><span style="width: 14px; height: 14px" class="glyphicon glyphicon-user"></span></span>
						  	<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="formData.username">
						</div>
						<br/>
						<div class="input-group">
						  	<span class="input-group-addon" id="basic-addon2"><span style="width: 14px; height: 14px;" class="glyphicon glyphicon-lock"></span></span>
						  	<input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon2" ng-model="formData.password">
						</div>
						<br/>
						<input type="submit" class="btn btn-primary col-md-4 col-md-offset-4" value="Login">
					</div>
				</form>
			</div>
			<div class="col-md-4 col-md-offset-4 text-center">
			</div>

		</div>
        <!-- FOOTER -->
        <div ng-include="'/footer.html'"></div>
    </div>
</body>
</html>	
